# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
.venv/
env/
.env/

# IDEs
.idea/
.vscode/

# Project Specific
saved_models/
*.joblib
*.pth

# Report
report/*.pdf
report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.synctex.gz
report/*.bbl
report/*.blg

# Data (Optional: if data is public, remove this)
# data/

# Notebooks
.ipynb_checkpoints/
